.sequencer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;

    &__channels {
        display: flex;
        flex-direction: column;
    }

    &__patterns {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}