.sequencer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__body {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }

    &__patterns {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__pattern-pagination {
        margin-top: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}