.sequencer-channel-step {
    border: 1px solid white;
    width: 15px;
    height: 15px;

    &:not(:last-of-type) {
        border-right-width: 0;
    }

    &--is-toggled {
        background-color: white;
    }

    &--is-active {
        background-color: rgba(117, 195, 0, 0.31);

        &.sequencer-channel-step--is-toggled {
            background-color: rgb(116 195 0);
        }
    }
}

.sequencer-channel {
    &:not(:last-of-type) {
        .sequencer-channel-step {
            border-bottom-width: 0;
        }
    }
}