.sequencer-channel-step {
    border: 1px solid white;
    width: 16px;
    height: 16px;
    margin-right: -1px;
    margin-bottom: -1px;
    position: relative;

    &:not(:last-of-type) {
        border-right-width: 0;
    }

    &__fill {
        position: absolute;
        bottom: 1px;
        left: 0;
        height: calc(100% - 1px);
        width: calc(100% - 1px);
        z-index: 1;
        min-height: 1px;
    }

    &:last-of-type {
        .sequencer-channel-step__fill {
            width: 100%;
        }
    }

    &--is-toggled {
        .sequencer-channel-step__fill {
            background-color: rgb(144 210 47);
        }
    }

    &--is-active {
        background-color: rgba(117, 195, 0, 0.5);

        &.sequencer-channel-step--is-toggled {
            .sequencer-channel-step__fill {
                background-color: white;
            }
        }
    }
}

.sequencer-channel {
    &:not(:last-of-type) {
        .sequencer-channel-step {
            border-bottom-width: 0;
        }
    }

    &:last-of-type {
        .sequencer-channel-step__fill {
            bottom: 0;
        }
    }
}