.instrument-config-knob {
	.bp5-button {
		&:not([class*=bp5-intent-]):active {
			background-color: transparent;
		}

		.bp5-button-text {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}

	.bp5-spinner {
		.bp5-spinner-head {
    	stroke: rgb(255 255 255);
		}

		&.bp5-intent-primary {
			.bp5-spinner-head {
				stroke: rgb(116 195 0);
			}
		}
	}
}