.sequencer-channel {
    display: flex;
    flex-direction: column;

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 8px;
    }

    &__name {
        font-size: 0.7rem;
        padding-top: 2px;
        text-align: right;
        cursor: pointer;
        white-space: nowrap;
    }

    &__controls {
        display: flex;
        gap: 8px;
        align-items: center;

        >* {
            cursor: pointer;
        }

        svg {
            width: 12px;
            height: 12px;
        }
    }

    &__steps {
        display: flex;
        flex-direction: row;
    }

    &__config {
        margin-top: 8px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 8px;
        grid-column-gap: 8px;
    }

    &--is-muted {
        .sequencer-channel__steps,
        .sequencer-channel__name {
            opacity: 0.5;
        }
    }

    &--is-highlighted {
        .sequencer-channel__name {
            font-weight: 900;
        }
    }

    &--has-config-open {
        margin-right: -8px;
        padding: 8px 8px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
}