.sequencer-channel {
    display: flex;
    flex-direction: row;
    gap: 8px;

    &__name {
        font-size: 0.7rem;
        padding-top: 2px;
        text-align: right;
        width: 150px;
        cursor: pointer;
    }

    &__controls {
        display: flex;
        align-items: center;

        >* {
            cursor: pointer;
        }

        svg {
            width: 12px;
            height: 12px;
        }
    }

    &__steps {
        display: flex;
        flex-direction: row;
    }
}