.controller {
	position: relative;

	&__header {
		position: fixed;
    background-color: #C850C0;
    z-index: 2;
    top: 0px;
    padding: 16px 8px 16px 0;
	}

	&__sequences {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding-top: 64px;
	}
}
