#app {
	color: var(--color-example);
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 24px;
}

// @font-face {
// 	font-family: 'Pixelify Sans';
// 	src: url('../fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf') format('truetype');
// }
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

html, button, body {
	// font-family: 'Pixelify Sans', sans-serif;
	background-color: #C850C0;
}

@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

:root {
	--color-example: #fff;
}

html,
body {
	display: flex;
	flex-grow: 1;
	width: 100%;
	min-height: 100vh;
	font-size: 14px;
	text-align: center;
	color: var(--color-example);
	margin: 0;
	user-select: none;
}

p {
	margin-block-start: 0;
	margin-block-end: 0;
}

.bp5-icon {
	svg {
			fill: currentColor;
	}
}

:focus {
	outline: none;
	outline-offset: 0;
}

.bp5-input:focus,
.bp5-input.bp5-active {
	box-shadow: none;
}

input[type=text] {
	background-color: transparent;
	box-shadow: none;
	border: 1px solid white;
	border-radius: 8px;
	color: white;
	font-family: inherit;
	padding: 0 6px;
	min-height: 30px;

	&:focus {
		background-color: rgb(116, 195, 0);
	}

	&.input--in-error {
		background-color: rgb(255, 0, 0);
	}
}

.link-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	&:hover {
		text-decoration: underline;
	}
}


/* prevent pull-to-refresh for Safari 16+ */
@media screen and (pointer: coarse) {
  @supports (-webkit-backdrop-filter: blur(1px)) and (overscroll-behavior-y: none)  {
    html {
      min-height: 100.3%;
      overscroll-behavior-y: none;
    }
  }
}
/* prevent pull-to-refresh for Safari 9~15 */
@media screen and (pointer: coarse) {
  @supports (-webkit-backdrop-filter: blur(1px)) and (not (overscroll-behavior-y: none))  {
    html {
      height: 100%;
      overflow: hidden;
    }
    body {
      margin: 0px;
      max-height: 100%; /* or `height: calc(100% - 16px);` if body has default margin */
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    /* in this case to disable pinch-zoom, set `touch-action: pan-x pan-y;` on `body` instead of `html` */
  }
}

/* prevent pull-to-refresh for Chrome 63+ */
html, body {
  overscroll-behavior-y: none;
	overscroll-behavior: none;
}

.do-not-scroll-while-interacting {
  overflow: hidden;
  touch-action:none;
}
