@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

:root {
    --color-example: #fff;
}

html,
body {
    display: flex;
    flex-grow: 1;
    width: 100%;
    min-height: 100vh;
    font-size: 14px;
    text-align: center;
    color: var(--color-example);
    margin: 0;
    user-select: none;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.bp5-icon {
    svg {
        fill: currentColor;
    }
}