.sequencer-config {
	border-bottom: 1px solid white;
	padding: 4px;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__instrument-name {
		display: flex;
		flex-direction: column;
		gap: 8px;
	
		&__name {
			text-align: center;
			font-size: 1.2rem;
		}
	}

	&__controls {
		display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
		margin: 4px 0;
	}

	&__tools {
		display: flex;
		gap: 4px;

		.sequencer-config__tool {
			cursor: pointer;
			opacity: 0.5;

			&:hover,
			&--is-active {
					opacity: 1;
			}
		}
	}
}